In [1]:
from helper import EducationData_API
import pandas as pd

In [2]:
api = EducationData_API(
    topic = 'school-districts', 
    source = 'ccd', 
    endpoint = 'finance', 
    year = '2016'
)

In [3]:
api.base_url

'https://educationdata.urban.org/api/v1/school-districts/ccd/finance/2016/'

In [4]:
api.get_request()

In [5]:
# import requests
# results = []
# api_response = requests.get(url = api.base_url)
# results.extend(api_response.json()['results'])
# next_page = api_response.json()['next']
# while next_page:
#     api_response = requests.get(url = next_page)
#     results.extend(api_response.json()['results'])
#     next_page = api_response.json()['next']

In [7]:
api.results_df

,year,fips,leaid,censusid,rev_total,rev_fed_total,rev_fed_child_nutrition_act,rev_fed_state_title_i,rev_fed_state_idea,rev_fed_state_math_sci_teach,...,debt_longterm_issued_fy,debt_longterm_retired_fy,debt_longterm_outstand_end_fy,debt_shortterm_outstand_beg_fy,debt_shortterm_outstand_end_fy,assets_sinking_fund,assets_bond_fund,assets_other,enrollment_fall_responsible,enrollment_fall_school
0,2016,1,0100002,-2,-1.0,-1.0,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,2016,1,0100005,01504840100000,52593000.0,7049000.0,3173000,2228000,1032000,124000,...,0,2840000,31541000,0,0,4274000,183000,7134000,5447,5447
2,2016,1,0100006,01504800100000,56550000.0,6879000.0,2613000,2415000,1196000,325000,...,0,1639000,26127000,0,0,783000,68000,6791000,5687,5687
3,2016,1,0100007,01503740100000,195251000.0,6727000.0,2337000,1399000,2593000,141000,...,14885000,18032000,285583000,0,0,690000,5411000,125725000,13938,13938
4,2016,1,0100008,01504530100000,110565000.0,5171000.0,1361000,749000,1707000,102000,...,0,3015000,117356000,0,0,17223000,11747000,16759000,10440,10440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18675,2016,56,5680250,51502040100000,-2.0,-2.0,-2,-2,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,0
18676,2016,56,5680251,-2,-2.0,-2.0,-2,-2,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,0,0
18677,2016,56,5680252,-2,-2.0,-2.0,-2,-2,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,0,0
18678,2016,56,5680253,-2,-2.0,-2.0,-2,-2,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,0,0
18679,2016,56,5680254,-2,-2.0,-2.0,-2,-2,-2,-2,...,-2,-2,-2,-2,-2,-2,-2,-2,245,245